/*
https://www.joshwcomeau.com/css/custom-css-reset/

  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
    margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* END CSS RESET */

body {
    background-image: linear-gradient(
        0deg,
        hsl(190deg 68% 69%) 0%,
        hsl(193deg 65% 59%) 5%,
        hsl(195deg 78% 46%) 11%,
        hsl(197deg 100% 38%) 17%,
        hsl(203deg 100% 36%) 25%,
        hsl(208deg 100% 33%) 34%,
        hsl(214deg 100% 29%) 48%,
        hsl(222deg 100% 25%) 76%,
        hsl(236deg 98% 20%) 100%
    );
    color: rgb(243, 255, 173);
    
}

h1, h2 {
    text-align: center;
}

a {
    color: white;
}
a:visited {
    color: yellow;
}

.section {
    background-color: black;
    color: rgb(255, 0, 144);
    margin: 2rem auto;
    padding: 2rem;
    min-width: min-content;
    max-width: 32rem;
}

.section h3, .section h4 {
    color: rgb(60, 255, 0);
}

.section div {
    margin: 2rem;
}


